@{
    ViewData["Title"] = "Herblore";
}

<div id="herblore-container" 
     data-url="@Url.Action("Potions", "Herblore")"
     data-hi="@Url.Action("GetSkillXp", "Home", new { area = "", playerName = Context.Session.GetPlayerName(), skill = "herblore" })"
     data-herb="@Url.Action("GetHerbs", "Farming")">
</div>

@section scripts {
    <script src="~/js/bundle.js"></script>
}