@model (Domain.Base.Skill herblore, Domain.Base.Skill farming)

@{
    ViewData["Title"] = "Herblore";
}

<div id="herblore-container" 
     data-url="@Url.Action("Potions", "Herblore")"
     data-herb="@Url.Action("GetHerbs", "Farming")"
     data-farming-level="@Model.farming.Level"
     data-herblore-xp="@Model.herblore.XP">
</div>

@section scripts {
    <script src="~/js/bundle.js"></script>
}