<form asp-action="GetHiScores" class="form-inline">
    <input class="form-control mr-1" placeholder="Player Name" name="playerName" />
    <button type="submit" class="btn btn-primary">Get Scores</button>
</form>