@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Osrs Tools</h1>
    <p>
        Enter your name above or enter a player-name to get started.
    </p>
</div>
